* {
  margin: 0;
}

main {
  min-height: 89vh;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

/* .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
} */

/* #test {
  position: fixed;
  background-color: black;
  color: white;
  padding-left: 2%;
  padding-right: 2%;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
} */

/* .sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.closebtn {
  position: fixed;
  z-index: 200;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
} */

.projects-container,
.about-container,
.hire-container,
#contact-container,
.others-container {
  min-height: 95vh;
}

/* .projects {
  text-align: center;
} */

.projectDivSpace {
  display: flex;
  flex-direction: column;
}
.projectsSpace {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin-top: 5%;
  margin-left: 5%; */
}

.proImageDiv {
  flex: 1;
}

.proInfoDiv {
  flex: 2;
}

#images {
  max-width: 450px;
}

@media screen and (max-width: 640px) {
  /* .projectsSpace {
    flex: 1;
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
  } */
}
